.about-page {
    margin-top: 130px;
    overflow-y: auto;
}

.about-page h2 {
    margin: 0;
    font-weight: bold;
}

.about-page p {
    font-size: 20px;
    font-weight: medium;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E0E0E0;
    border-left: 5px #8E8E8E solid;
}

.sidebar {
  margin-top: 76px;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  position: fixed;
  top: 90px;
  left: 50px;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media only screen and (max-width: 991px) {
    .sidebar {
        margin-top: 45px !important;
    }
    .openbtn {
        top: 70px !important;
    }
}

@media only screen and (max-width: 800px) {
    img {
        height: 305px !important;
        width: 100% !important;
    }
    p {
        font-size: 1rem !important;
        width: auto !important;
    }
    .carousel-caption {
        padding-bottom: 1rem !important;
    }
    .carousel-caption h3 {
        font-size: 1.2rem !important;
    }
    .sidebar a {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 350px) {
    img {
        height: 127px !important;
        width: 100% !important;
    }
    p {
        font-size: 0.8rem !important;
        width: auto !important;
    }
    .sidebar a {
        font-size: 0.9rem;
    }
    .carousel-caption {
        padding-bottom: 0.1rem !important;
    }
    .carousel-caption h3 {
        font-size: 0.55rem !important;
        margin-bottom: 0.04rem !important;
        padding-bottom: 0.04rem !important;
    }
    .carousel-indicators {
        margin-bottom: 0.1rem !important;
    }
}
