.about-page {
    margin-top: 8.125rem;
    overflow-y: auto;
}

.about-page h2 {
    margin: 0;
    font-weight: bold;
}

.about-page p {
    width: 100%;
    font-size: 1.25rem;
    font-weight: medium;
    margin-top: 2.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #E0E0E0;
    border-left: 5px #8E8E8E solid;
}

.sidebar {
  margin-top: 4.75rem;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;
}

.sidebar a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 1.5625rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 1.5625rem;
  font-size: 2.25rem;
  margin-left: 3.125rem;
}

.openbtn {
  position: fixed;
  top: 5.625rem;
  left: 3.125rem;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 0.625rem 0.9375rem;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 1rem;
}

@media only screen and (max-width: 991px) {
    .sidebar {
        margin-top: 3.5rem !important;
    }
    .openbtn {
        top: 4.375rem !important;
        z-index: 10000;
    }
}

@media only screen and (max-width: 800px) {
    /*img {
        height: 19rem !important;
        width: 100% !important;
    }*/
    p {
        font-size: 1rem !important;
        width: auto !important;
    }
    .carousel-caption {
        padding-bottom: 1rem !important;
    }
    .carousel-caption h3 {
        font-size: 1.2rem !important;
    }
    .sidebar a {
        font-size: 1.25rem !important;
    }
}

@media only screen and (max-width: 370px) {
    /*
    img {
        height: 8.1rem !important;
        width: 100% !important;
    }*/
    p {
        font-size: 0.8rem !important;
        width: auto !important;
    }
    .sidebar a {
        font-size: 0.9rem;
    }
    .carousel-caption {
        padding-bottom: 0.1rem !important;
    }
    .carousel-caption h3 {
        font-size: 0.55rem !important;
        margin-bottom: 0.04rem !important;
        padding-bottom: 0.04rem !important;
    }
    .carousel-indicators {
        margin-bottom: 0.1rem !important;
    }
}
